html, body, #root, .App {
  height: 100%;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
}

.dashboard-icon img {
  width: 56px;
  height: 56px;
  display: block;
  margin: 0 auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.75;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */

/* .App-title {
  font-size: 1.5em;
} */

/* .App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
